<h1>Edit item</h1>

<form id="edit-item" name="item">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="order"> order:</label>
    <input type="text" name="order" id="order" value="<%= order %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Item" />
  </div>

</form>

<a href="#/index">Back</a>